/* BREADCRUMBS PLUGIN OVERRIDES */
#breadcrumbs {
    @apply pl-0 text-base leading-normal h-auto text-base;

    & > span {
        @apply px-0;

        & span {
          @apply px-0;
        }
    }

    a span {
        @apply text-primary transition duration-300;
        &:hover {
            @apply text-primary-darker dark:text-primary-lighter;
         }
    }
}

.fa-angle-right:before {
    @apply text-gray-500 block;
    content: '/';
}
/* END BREADCRUMBS PLUGIN OVERRIDES */

/* RELATED PAGES PLUGIN OVERRIDES */
ul.related-pages {
    @apply list-none !important;
    @apply pl-0 !important;

    li {
        @apply my-3;
    }
    .score {
        @apply border-2 border-primary p-1;
    }
}
/* END RELATED PAGES PLUGIN OVERRIDES */

/* ARCHIVES PLUGIN OVERRIDES */
ul.archives > li {

  .label {
    @apply inline-flex items-center px-2 rounded-full text-xs font-bold mr-1 leading-5 bg-primary text-gray-200;
  }

  a:hover {
    .label {
      @apply bg-primary-darker dark:bg-primary-lighter;
    }
  }

  &:before {
    @apply hidden;
  }
}
/* END ARCHIVES PLUGIN OVERRIDES */

/* NOTICES PLUGIN OVERRIDES */
.notices a {
  @apply dark:text-gray-100;
  &:hover {
    @apply dark:text-white;
  }
}
.notices.red {
  @apply bg-red-100 text-red-800 border-red-200 dark:bg-red-300 dark:text-red-900 dark:border-red-400;
  a { @apply dark:text-red-800; }
}
.notices.blue {
  @apply bg-blue-100 text-blue-800 border-blue-200 dark:bg-blue-300 dark:text-blue-900 dark:border-blue-400;
  a { @apply dark:text-blue-800; }
}
.notices.green {
  @apply bg-green-100 text-green-800 border-green-200 dark:bg-green-300 dark:text-green-900 dark:border-green-400;
  a { @apply dark:text-green-800; }
}
.notices.yellow {
  @apply bg-orange-100 text-orange-800 border-orange-200 dark:bg-orange-300 dark:text-orange-900 dark:border-orange-400;
  a { @apply dark:text-orange-800; }
}
/* END NOTICES PLUGIN OVERRIDES */

/* LIGHTBOX GALLERY PLUGIN */
.glightbox-clean .gslide-description, .glightbox-modern .gslide-description {
  @apply dark:bg-gray-800;
}
/* END LIGHTBOX GALLERY */

/* SIMPLESEARCH PLUGIN */
.search-wrapper .search-results {
    @apply p-0;
    ul {
        @apply my-0;

        li {
            @apply m-0 p-0;
            padding-left: inherit;

            &:before {
                @apply hidden;
            }
        }
    }
}
/* END SIMPLESEARCH */

/* LANGSWITCHER PLUGIN */
ul.langswitcher {
    @apply flex h-16 mr-8;
    li {
        @apply inline-flex ml-4 text-sm items-center pt-1 font-medium;
    }
}
/* END LANGSWITCHER */

