.text-twitter {
  color: #1DA1F2;
}

.text-facebook {
  color: #1877F2;
}

.text-instagram {
  color: #E4405F;
}

.text-linkedin {
  color: #0077B5;
}

.text-github {
  color: #181717;
}

.text-pinterest {
  color: #BD081C;
}

.text-whatsapp {
  color: #25D366;
}

.bg-youtube {
  background-color: #FF0100;
}

.bg-gitbook {
  background-color: #3884FF;
}

.bg-500px {
  background-color: #0099E5;
}