{% set classes = {
  root: "flex flex-col text-gray-300 text-left w-full",
  default: {
    ul: "pl-6 pt-2 -mb-1 menu-default",
    li: {
      base: "text-sm pl-2 border-t border-gray-700 py-1",
      active: 'active'
    },
    a: "transition duration-300 hover:text-primary",
    icon: "w-3 ml-2 text-white inline",
  },
  level_1: {
    li: {
      base: "text-lg pl-2 border-t border-gray-700 py-2",
    }
  }
} %}

{% set alpine = {
  parent: 'x-data="{ selected: MENU_STATE }"',
  button: '@click="selected = !selected"',
  child: 'x-show="selected"
            x-transition:enter="transition duration-700"
            x-transition:enter-start="opacity-0"
            x-transition:enter-end="opacity-1"',
  svg_open: 'x-show="selected"',
  svg_closed: 'x-show="!selected"'
} %}

{% set svg = null %}
{% set open = svg_icon('tabler/minus.svg', 'h-6 w-6 text-gray-500 stroke-3/2') %}
{% set closed = svg_icon('tabler/plus.svg', 'h-6 w-6 text-gray-600 stroke-3/2') %}

{% if open or closed %}
  {% set svg = { closed: closed, open: open} %}
{% endif %}

{% import 'macros/macros.html.twig' as macros %}

<div :class="{ 'invisible': !show_mobile_nav, 'opacity-100': show_mobile_nav }"
     class="mobile-nav invisible z-20 overflow-hidden transition duration-500 h-screen w-screen absolute top-0 flex flex-col items-center justify-around absolute opacity-0 bg-gray-800 transition duration-500">

  <div class="overflow-y-auto w-full py-12 pl-2 pr-12 sm:p-12">

    <ul class='{{ classes.root }}'>
      {{ macros.nav_loop(typhoon_full_menu(), classes, alpine, svg) }}
    </ul>
  </div>


  {# CLOSE BUTTON #}
  <div class="absolute top-2 right-2">
    <button @click="show_mobile_nav = false" aria-label="Close button" type="button"
            class="inline-flex items-center justify-center p-2 rounded-md text-white hover:text-primary focus:outline-none focus:text-gray-800 transition duration-150 ease-in-out">
      {{ svg_icon('tabler/x.svg', 'h-8 w-8 text-gray-300 hover:text-white')|raw }}
    </button>
  </div>
  {# CLOSE BUTTON #}
</div>
