{% extends 'partials/base.html.twig' %}

{% block content %}
  <div class="text-center">
    <h1 class="text-6xl">{{ "THEME_TYPHOON.ERROR_ENCOUNTERED"|t }}</h1>
    {{ page.content|raw }}
  </div>
{% endblock %}
